<% provide(:title, "All users" ) %>
<h1>ãƒ¦ãƒ¼ã‚¶ãƒ¼ä¸€è¦§</h1>
<div class="col-md-4 col-md-offset-1">
    <%= form_with(model: @user, local: true) do |f| %>
        <div class="search_item">
          <%= f.file_field :file, class:"form-control"%>
        </div>
        <div class="csv-btn">
          <%= f.submit "CSVã‚¤ãƒ³ãƒãƒ¼ãƒˆ", class: "btn btn-primary btn-block" %>
          <%# <form enctype="multipart/form-data" action="/users/import" accept-charset="UTF-8" method="post"> %>
          <%# <input type="file" name="file" id="file" class="form-control"> %>
          <%# <input type="submit" name="commit" value="CSVã‚¤ãƒ³ãƒãƒ¼ãƒˆ" class="btn btn-primary btn-block" data-disable-with="CSVã‚¤ãƒ³ãƒãƒ¼ãƒˆ"> %>
        </div>
    <% end %>
</div>


<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed tabke-hover" id="table-users" >
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user|%>
      <tr>
        <% if current_user.admin? && !current_user?(user)%>
        <td><%= link_to user.name, user %><br>
              <%= link_to "å‰Šé™¤", user, method: :delete,
                  data: { confirm: "å‰Šé™¤ã—ã¦ã‚ˆã‚ã—ã„ã§ã™ã‹ï¼Ÿ"},
                  class: "btn btn-primary" %>
              <div class="container">  
              <!-- â†“ã®èª¬æ˜Žï¼šdata-toggle = "collapse"â†’é–‹é–‰ãƒœã‚¿ãƒ³ã«å¿…è¦ data-targetâ†’é–‹é–‰ãƒœã‚¿ãƒ³ã«å¿…è¦ã€é–‹é–‰ã™ã‚‹ã‚³ãƒ³ãƒ†ãƒ³ãƒ„ã¨ç´ä»˜ã‘ã‚‹ ðŸŒ¸ðŸ”´ã‚³ãƒ³ãƒ†ãƒ³ãƒ„ã®æ–¹ã«ã¯classã«collapseã¨ä»˜ã‘ã‚‹-->
                  <button class="btn btn-primary btn-lg btn-click btn-outline-warning " data-toggle="collapse" data-target="#accordion6" aria-expanded="true" aria-controls="accordion" autocomplete="off">ç·¨é›†</button>        
              </div>
        <% end %> 
            <%# <div class="panel-heading">
              <h4 class="panel-title">
                <button type="button" data-toggle="collapse" href="#collapse3" class="btn btn-primary">ç·¨é›†</button>
              </h4>
            </div> %>
        </td>  
      </tr>
      
    <% end %> 
  </table>
 </div>
</div>