<% provide(:title, @user.name) %>
<div class="container">
    <h1>勤怠ログ</h1>
    <%= form_with(model: @user, url: log_user_attendance_path(@user,date: @first_day), rocal:true, method: :patch) do |f| %>
      <%= f.date_select :date, { prompt:["年","月"], discard_day: true, use_month_numbers: true}, class: 'form-control date-only-width' %>
        <%= form_tag(log_user_attendance_path, :method => 'get' ) do %>
        <%= submit_tag '検索',name:nil,class: "btn  btn-lg btn-primary" %>
        <% end %>
        
        <%# <div class="input-group">
          <span class="input-group-btn"> <%= button_tag "検索", :name => nil, class: "btn btn-primary" %>
          <%# </span></div> %> 
      <div class="log-table">
        <table class="table table-bordered table-striped table-condensed table-hover" id="table-attendances">
            <thead>
              <tr>
                <th>日付</th>
                <th>変更前出社時間</th>
                <th>変更前退社時間</th>
                <th>変更後出社</th>
                <th>変更後退社</th>
                <th>指示者</th>
                <th>承認日</th>
              </tr>
            </thead>
            <tbody>
              <% @user.attendances.each do |day| %>
                <%= f.fields_for "attendances[]", day do |attendance| %>
                  <tr>
                    <td><%= l(day.worked_on, format: :short) %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  <% end %>